hr{
  border-style: solid;
  border-color: lightgrey;
  border-width: 2px;
}

body{
  font-family: 'Lato', sans-serif;
  color: #c4ea09;
  font-weight: 300;
  text-shadow: -1px 0 #5447a7, 0 1px #5447a7, 1px 0 #5447a7, 0 -1px #5447a7;
}

.text-muted{
  color:#BCBBBB;
}

.text-thin{
  font-weight: 100;
}

.title-logo{
  margin-top: 20px;
  padding: 0px;
}
h1{
  font-size: 50px;
  text-align: center;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top:0px;
}
h4{
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}
figcaption {
  margin: 20px;
  margin-top:10px;
}
.container{
  padding-left: 30px;
  padding-right: 30px;
}

img{
  max-width: 100%;
  min-width:100%;
}

@media screen and (min-width:768px){
  h1{
    text-align: right;
  }
  h4{
    text-align: right;
  }
  h2{
    font-size: 40px;
  }
}
@media screen and (min-width:992px){
  h1{
    font-size: 70px;
  }
}
